.header{
    background-color: red;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1.5em;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
}

.grosTitre{
    text-align: center;
    font-size: 1em;
    font-weight: 800;
}

.beauLien{
    color: red;
    text-align: center;
}
.beauLien:hover{
    background-color: aqua;
    border: 5px solid black;
}

body{
    background-color: rgb(87, 14, 23);
}

.blocGauche{
    background-color: rgb(206, 96, 22);
}

.txtBlanc{
    color:white;
}

#boxAvcNote{
    background-color: rgb(206,96,22);
}

#texteNote{
    text-align: center;
    
    margin-top: 10px;
}

#selectNotes{
    border-right: 3px solid black;
    border-bottom: 3px solid black;
}

.lora {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.boutonBody{
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    background-color: rgb(255, 242, 57);
    border: 2px solid black;
    min-width: 50%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.boutonBody:active{
    background-color: antiquewhite;
}

.boutonPlay{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left:0.5em;
    margin-right: 0.5em;
}